*.code-workspace
*.vtu
*.out
*.v
*.fir
*.hex.txt
*.idea
*.bak
*.json
debug
test_run_dir
target
quartus
project/target
src/resources/meminit
src/resources/meminit_default
src/resources/meminit_sim
src/resources/meminit_synth
/resources
src/test/resources
memdump
memdump_C
uart.txt
uart_parsed.csv
